@charset "utf-8";
*{
	margin: 0;
	padding: 0;
	font-size: 12px;
}

body{
	background-color: #f5f5f5;
}

.top{
	width: 100%;
	height: 27px;
	background: url(../../素材/images/top_bg.jpg)repeat-x;
}

.top_content{
	width: 1000px;
	margin: 0 auto;
}

.top_content li{
	list-style-image: url(../../素材/images/li_bg.gif);
	float: right;
	width: 70px;
	line-height: 27px;
}
.top_content a:link,.top_content a:active{
	color:#8e8e8e;
	text-decoration: none;
}

.top_content a:hover,.top_content a:active{
	color: #900;
	text-decoration: none;
}

.wrap{
	width: 1000px;
	margin: 0 auto;
}

.logo{
	height: 80px;
	background-color: #FFFFFF;
}

.logo_left{
	float: left;
}

.logo_right{
	float: right;
	width: 300px;
	height: 28px;
	margin-top: 30px;
	overflow: hidden;
}

.logo_right img{
	vertical-align: middle;
	margin-right: 10px;
}

.tel{
	vertical-align: middle;
	font-family:abel;
	font-size: 16px;
	color: #c00;
}
.nav{
	clear: left;
	height: 40px;
	background: #943F41;
	border-radius: 4px 4px 4px 4px;
}

form{
	display: inline;
	float: right;
	margin-top: 10px;
	margin-right: 100px;
}

.nav li{
	float: left;
	list-style-type: none;
	margin:0 30px;
	line-height: 40px;
}

.nav li a:link,.nav li a:visited{
	text-decoration: none;
	color:#fff;
	font-size: 16px;
	font-family: abel;
}

.nav li a:hover,.nav li a:active{
	text-decoration: none;
	color:#B3B34E;
	font-size: 16px;
	font-family: abel;
}

.search_text{
	width: 180px;
	height:25px;
	margin-left: -30px;
	margin-top: -5px;
	background: url(../../素材/images/search.jpg)no-repeat right center;
	background-color: #FFFFFF;
	padding-right: 25px;
	border: 1px solid black;
}

.ad{
	clear: left;
	height: 310px;
	overflow: hidden;
}



